
@import "../../node_modules/sanitize.css/lib/sanitize.sass";
@import "../../node_modules/breakpoint-sass/stylesheets/breakpoint";

@import "palette";
@import "typography";

@mixin flexy($direction) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $direction
}

// =====================

.main-container {
	@include flexy(column);
	margin: 0 auto;

	width: 90%;
}

.header {
	@include flexy(row);
	width: 100%;

	.buttons {
		@include flexy(row);
		justify-content: flex-end;
		// width: 100%;
		flex-grow: 1;
		// align-self: flex-end;

		@include lato-light;
		color: $deep-orange;
	}

	h1 {
		// align-self: flex-start;
		@include lato;
		font-size: 2em;
		color: $deep-orange;
	}

	button {
		background-color: $light-blue-grey;
		color: $white;

		&.active {
			background-color: $deep-orange;
			// color: $white;
		}
		// &:nth-of-type(1) {
		// 	background-color: $light-orange;
		// }

		// &:nth-of-type(2) {
		// 	background-color: $mid-orange;
		// }
		// background-color: $deep-orange;
		// border: 1px solid $deep-orange;
		width: 45%;
		height: 100%;
		margin: 0 1%;
		cursor: pointer;
	}
}

.card-container {
	@include flexy(row);
	justify-content: space-between;
	flex-wrap: wrap;
}

.card {
	display: block;
	@include flexy(column);
	// flex-direction: column;
	width: 15%;
	// flex-grow: 1;
	// border: 1px solid $light-blue-grey;
	// padding: 10px;
	margin: 7px;

	cursor: pointer;

	img {
		width: 100%;
		height: auto;
	}

	&:hover {
		background-color: $light-blue-grey;
	}
}

.info {
	@include flexy(row);
	justify-content: flex-start;

	@include lato;

	width: 100%;

	background-color: $deep-orange;
	// background-color: $light;
	// border: 1px solid $deep-orange;

	.rank {
		@include abril-fatface;

		// background-color: $orange;
		// color: $deep-orange;

		color: $orange;
		// background-color: $orange;

		font-size: 3em;
		line-height: 1em;
		// width: 30%;
		padding: 0 7px 0 5px;
	}

	.info-block {
		@include flexy(column);
		align-items: flex-start;
		flex-grow: 1;
	}

	.user-name {
		// color: $orange;
		color: $grey-blue;
	}

	.stats {
		@include lato-light;
		// width: 60%;
		@include flexy(row);
		justify-content: space-between;
		color: $grey-blue;
		width: 100%;

		div {
			@include flexy(row);
		}

		.recent {
			color: $light-orange;
			
			.icon {
				fill: $light-orange;
			}
		}

		.all-time {
			margin-right:5px;
			color: $mid-orange;

			.icon {
				fill: $mid-orange;
			}
		}

	}
}

.icon {
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	fill: $grey-blue;
}

.fetchbar {
	width: 100%;
	height: 6px;
	background-color: $light-blue-grey;
	// background-color: $deep-orange;
	margin: 7px 0 4px 0;
}