@import "palette";
@import "typography";

@mixin flexy($direction) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $direction
}

// =====================

.main-container {
	@include flexy(row);
	// flex-direction: column;
	justify-content: flex-start;
	flex-wrap: wrap;

	width: 100%;
}

.card {
	display: block;
	@include flexy(column);
	// flex-direction: column;
	width: 15%;
	// border: 1px solid $light-blue-grey;
	// padding: 10px;
	margin: 7px;

	cursor: pointer;

	img {
		width: 100%;
		height: auto;
	}

	&:hover {
		background-color: $light-blue-grey;
	}
}

.info {
	@include flexy(row);
	justify-content: flex-start;

	@include lato;

	width: 100%;

	background-color: $deep-orange;

	.rank {
		@include abril-fatface;

		// background-color: $orange;
		// color: $deep-orange;

		color: $orange;
		background-color: $deep-orange;

		font-size: 3em;
		line-height: 1em;
		// width: 30%;
		padding: 0 7px 0 5px;
	}

	.info-block {
		@include flexy(column);
		align-items: flex-start;
	}

	.user-name {
		color: $grey-blue;
	}

	.stats {
		@include lato-light;
		width: 60%;
		@include flexy(row);
		justify-content: flex-start;
		color: $grey-blue;
	}
}

.icon {
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	fill: $grey-blue;
}