$transparent: rgba(0,0,0,0);

$black: rgba(0, 0, 0, 1);

$white: rgba(255,255,255,1);

$light-blue-grey: rgba(193,205,209, 1);
$dark-blue-grey: rgba(0, 36, 39, 1);

$deep-orange: rgba(215,107,72,1);
$orange: rgba(255,161,65,1);
$light: rgba(255,234,191,1);
$grey-blue: rgba(196,208,212,1);
$grey-blue-green: rgba(148,170,175,1);

$light-blue: rgba(115,192,196,1);